# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest / mypy
.pytest_cache/
.mypy_cache/

# Local vector database
data/processed/qdrant_local_db/

data/raw/candidates.jsonl